{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
         {% block content %}
     <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-12">
                                    <h1 class="title-tab-content">ویرایش اطلاعات شخصی</h1>
                                </div>
                                <div class="content-section default">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="title-tab-content">حساب شخصی</h1>
                                        </div>
                                    </div>
                                    <form method="POST" class="form-account" enctype = "multipart/form-data">
                                    {% csrf_token %}
                                       
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-account-title">نام</div>
                                                <div class="form-account-row">
                                                    <input  name="first_n" class="input-field text-right" type="text" placeholder="نام خود را وارد نمایید">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-account-title">نام خانوادگی</div>
                                                <div class="form-account-row">
                                                    <input  name="last_n"  class="input-field text-right" type="text" placeholder="نام خانوادگی خود را وارد نمایید">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-account-title">کد ملی</div>
                                                <div class="form-account-row">
                                                    <input  name="national_c"  class="input-field" type="text" placeholder="کد ملی خود را وارد نمایید">
                                                </div>
                                                <div class="form-account-agree">
                                                    <label class="checkbox-form checkbox-primary">
                                                        <input type="checkbox">
                                                        <span class="checkbox-check"></span>
                                                    </label>
                                                    <label for="agree">
                                                        تبعه خارجی فاقد کد ملی هستم
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-account-title">شماره موبایل</div>
                                                <div class="form-account-row">
                                                    <input  name="mobile_n"  class="input-field" type="text" placeholder="شماره موبایل خود را وارد نمایید">
                                                </div>
                                            </div>
                                                <div class="col-sm-12 col-md-6">
                                                <div class="form-account-title">آدرس ایمیل</div>
                                                <div class="form-account-row">
                                                    <input  name="emaill" class="input-field" type="email" placeholder=" آدرس ایمیل خود را وارد نمایید">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-account-title">شماره کارت</div>
                                                <div class="form-account-row">
                                                    <input  name="pay_n"  class="input-field" type="text" placeholder=" شماره کارت خود را وارد نمایید">
                                                </div>
                                            </div>
                                        
                                        </div>
                                        <div class="col-12 no-padding">
                                            <div class="form-account-agree">
                                                <label class="checkbox-form checkbox-primary">
                                                    <input type="checkbox" id="agree-newspaper">
                                                    <span class="checkbox-check"></span>
                                                </label>
                                                <label for="agree-newspaper">
                                                    اشتراک در خبرنامه دیجی کالا
                                                </label>
                                            </div>
                                        </div>
                                        <label class="form-label" for="customFile">عکس مورد نظر خود را انتخاب نمایید.</label>
                                        <input  name = "image_p" type="file" class="form-control"  />
                                        <br>
                                        <div class="col-12 text-center">
                                            <button class="btn btn-success">ذخیره</button>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
         {% endblock  %}